.Rproj.user
.Rhistory
.RData
_publish.R
_book
_bookdown_files
rsconnect
wk4/prac4_data/*
wk5/prac5_data/*
wk6/prac6_data/*
wk7/prac7_data/Lsatdata/*
wk7/prac7_data/exampleGoogleDrivedata/*
wk7/prac7_data/Manchester_boundary/*
wk9/prac9_data/*
QM/qm_data/* >>.gitignore
echo -e qm_data/*
wk10/prac10_data/*
